@font-face {
  font-family: "iconfont"; /* Project id 4149488 */
  src: url('iconfont.woff2?t=1692017918970') format('woff2'),
       url('iconfont.woff?t=1692017918970') format('woff'),
       url('iconfont.ttf?t=1692017918970') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xiazai:before {
  content: "\e602";
}

.icon-wind-turbine:before {
  content: "\e642";
}

.icon-ico_send:before {
  content: "\e646";
}

.icon-moxingxunlian:before {
  content: "\e628";
}

.icon-RectangleCopy:before {
  content: "\e6df";
}

.icon-qita:before {
  content: "\e601";
}

.icon-diandian:before {
  content: "\e653";
}

.icon-ai226:before {
  content: "\e6d6";
}

.icon-fengexian2:before {
  content: "\ec7f";
}

.icon-QQ:before {
  content: "\e882";
}

.icon-jia:before {
  content: "\e600";
}

.icon-caidan:before {
  content: "\eaf1";
}

.icon-guanbi:before {
  content: "\eaf2";
}

.icon-dizhi:before {
  content: "\e652";
}

.icon-gongsiyoubian:before {
  content: "\e60b";
}

.icon-renming:before {
  content: "\e607";
}

.icon-tuandui:before {
  content: "\e604";
}

.icon-email:before {
  content: "\e66f";
}

.icon-a-weibiaoti-1_huaban1fuben19:before {
  content: "\e608";
}

.icon-Wind-Turbine:before {
  content: "\e6a3";
}

.icon-diqiu:before {
  content: "\e60a";
}

.icon-ziranfengguang:before {
  content: "\e69c";
}

.icon-zaixianjiance:before {
  content: "\e613";
}

.icon-fydyc:before {
  content: "\e764";
}

.icon-yichang:before {
  content: "\e614";
}

.icon-shangchuan:before {
  content: "\e62d";
}

.icon-fengji:before {
  content: "\e606";
}

