// 大于800px
@media only screen and (min-width: 800px) {
    :deep(.el-input__inner) {
        z-index: 99999 !important;
        background-color: #0f1325 !important;
        background-image: none;
        border-radius: 4px;
        border: 1.5px solid #2e6099;
        box-sizing: border-box;
        display: inline-block;
        height: 40px;
        line-height: 40px;
        outline: 0;
        padding: 0 15px;
        transition: border-color .2s cubic-bezier(.645, .045, .355, 1);
        width: 100%;
        color: #eee;
        font-size: large;
        text-align: center;
        user-select: none;
    }

    :deep(.el-select-dropdown) {
        z-index: 99999;
        background-color: rgba(1, 28, 82, 0.8);
        border: 1.5px solid #2e6099;
    }

    :deep(.el-scrollbar__view) {
        z-index: 99999;
        padding: 0 0;
        background-color: rgba(1, 28, 82, 0.8);
        max-height: 200px !important;
    }

    .el-select-dropdown__item {
        z-index: 99999 !important;
        color: #fff;
        font-weight: 100;
        background-color: #0f1325;
        user-select: none;
    }

    .el-select-dropdown__item:hover {
        color: #2e6099;
    }

    .custom-select {
        position: relative;
        width: 200px;
    }

    .selected-option {
        padding: 10px;
        border: 1px solid #ccc;
        background-color: #fff;
        cursor: pointer;
    }

    .options-list {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        border: 1px solid #ccc;
        background-color: #fff;
        list-style: none;
        padding: 0;
        margin: 0;
        display: none;
    }

    .options-list li {
        padding: 10px;
        cursor: pointer;
    }

    .options-list li:hover {
        background-color: #f0f0f0;
    }

    .options-list li.selected {
        background-color: #3d6ad3;
        color: #fff;
    }

    // 移动端消失
    .el-result {
        display: none;
    }

    #watchContainer {
        color: #d3d6dd;
        width: 100vw;
        height: 100vh;
        transform-origin: left top;
        overflow: hidden;

        .bg {
            padding: 16px 0px;
            background-image: url("/public/imgs/pageBg.png");
            background-size: cover;
            background-position: center center;
            width: 100vw;
            height: 100vh;
        }

        .host-body {
            height: 100%;
            width: 100vw;

            .dv-dec-10,
            .dv-dec-10-s {
                width: 33.3%;
                height: 2px;
            }

            .dv-dec-10-s {
                transform: rotateY(180deg);
            }

            .dv-dec-8 {
                width: 200px;
                height: 40px;
            }

            .title {
                position: relative;
                width: 500px;
                text-align: center;
                background-size: cover;
                background-repeat: no-repeat;

                .title-text {
                    font-size: 24px;
                    font-weight: 800;
                    position: absolute;
                    bottom: 0;
                    left: 50%;
                    transform: translate(-50%);
                }

                .dv-dec-6 {
                    position: absolute;
                    bottom: -30px;
                    left: 50%;
                    width: 250px;
                    height: 8px;
                    transform: translate(-50%);
                }
            }

            // 第二行
            .aside-width {
                width: 40%;
            }

            .react-r-s,
            .react-l-s {
                background-color: #0f1325;
            }

            // 平行四边形
            .react-right {
                &.react-l-s {
                    text-align: right;
                    width: 500px;
                }

                font-size: 18px;
                width: 26%;
                line-height: 50px;
                text-align: center;
                transform: skewX(-45deg);

                .react-after {
                    position: absolute;
                    right: -25px;
                    top: 0;
                    height: 50px;
                    width: 50px;
                    background-color: #0f1325;
                    transform: skewX(45deg);
                }

                .text {
                    display: inline-block;
                    transform: skewX(45deg);
                    letter-spacing: 5px;
                }
            }

            .react-left {
                &.react-l-s {
                    width: 500px;
                    text-align: left;
                }

                font-size: 18px;
                width: 300px;
                height: 50px;
                line-height: 50px;
                text-align: center;
                transform: skewX(45deg);
                background-color: #0f1325;

                .react-left {
                    position: absolute;
                    left: -25px;
                    top: 0;
                    height: 50px;
                    width: 50px;
                    background-color: #0f1325;
                    transform: skewX(-45deg);
                }

                .text {
                    display: inline-block;
                    transform: skewX(-45deg);
                    letter-spacing: 5px;
                }
            }

            .body-box {
                height: 100vh;
                width: 100%;
                margin-top: 10px;
                display: flex;
                flex-direction: column;

                //下方区域的布局
                .content-box {
                    display: grid;
                    grid-template-columns: 3fr 3fr 6fr;
                    height: 30%;

                    .dv-border-box-12 {
                        z-index: 1;
                    }
                }

                // 底部数据
                .bottom-box {
                    margin-top: 20px;
                    display: grid;
                    grid-template-columns: repeat(2, 50%);
                    height: 50%;
                }
            }
        }
    }
}

// 小于800px
@media only screen and (max-width: 800px) {

    .bg {
        padding: 6px 0px;
        background-image: url("/public/imgs/pageBg.png");
        background-size: auto;
        background-position: center center;
        width: 100vw;
        height: 100%;
        overflow-x: hidden;
        position: relative;

        .decor {
            display: none;
        }

        .text {
            color: aliceblue;
        }

        .title {
            position: relative;
            width: 500px;
            text-align: center;
            background-size: cover;
            background-repeat: no-repeat;
            margin-bottom: 25px;

            .title-text {
                font-size: 24px;
                font-weight: 800;
                color: azure;
                position: absolute;
                top: 0;
                bottom: 0;
                left: 50%;
                transform: translate(-50%);
            }
        }
    }
}